@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: beige;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}