@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&display=swap');

/* CSS HEX
--ecru: #DAC28Cff;
--khaki: #B6A48Dff;
--ecru-2: #DABA6Eff;
--lion: #BD8E52ff;
--silver: #BAB3ABff;

/* SCSS RGB */
/* $ecru: rgba(218, 194, 140, 1);
$khaki: rgba(182, 164, 141, 1);
$ecru-2: rgba(218, 186, 110, 1);
$lion: rgba(189, 142, 82, 1);
$silver: rgba(186, 179, 171, 1); */


body {
    margin: 0;
    min-height: 100vh;
    background-image: url(../images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg);
    background-size: cover;
    background-color: beige;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    text-align: center;
}

h2 {
    margin-top: 0;
}

/* Styling for the welcome area */

#welcome-area {
    font-size: 1.2rem;
}

#welcome-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#welcome-area li:hover {
    background-color: #B6A48Dff;
}

#welcome-area input {
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}


/* Styling for central quiz area */
.opaque {
    background-color: rgba(250, 249, 249, 0.7);
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 450px;
}

#game-area{
    display: none;
}

#quiz-area {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

#quiz-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#question-counter {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

#score-area {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.correct {
    color: rgb(7, 136, 7);
}

.wrong {
    color: rgb(246, 0, 0);
}

#correct-counter {
    margin-right: 2rem;
    margin-left: 2rem;
}

#wrong-counter {
    margin-left: 2rem;
}

/* Styling of the footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 75px;
    width: 100%;
    background-color: rgb(152, 152, 152);
}

footer a {
    color: whitesmoke;
    padding: 0.4rem;
    margin: 0 5px 0 5px;
    font-size: 1.7rem;
}


/* Styling of the final end of game score page */
.btn {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #222222;
    max-width: 350px;
}